{% extends "layout.html" %}
{% block title %}Archive{% endblock %}
{% block body %}

  <section role="main" class="container">
    {%- for entry in archive %}
    <h1 class="archive-title">{{ entry.year }}</h1>
      {%- for subentry in entry.months %}
      <section class="archive">
            <p class="archive-month">{{ subentry.month_name }}</p>
      <article>
        {%- for post in subentry.entries %}
          <h3>
            <a href="{{ link_to('page', slug=post.slug) }}">{{ post.title }}</a>
          </h3>
          {% endfor %}
      </article>
    </section>
    {% endfor %}
    {% endfor %}
  </section>
{% endblock %}
